{% extends "layout2.html" %}

{% block pageTitle %}
  Main menu
{% endblock %}





{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Main menu
    </h1>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">
             Add new provider
        </h2>


        <ul class="govuk-list">
          <ul class="govuk-list">
            <li>

                <a class="govuk-link" href="add-new" aria-describedby="add-new">
              Add new provider to the list
              </a>

          </li>
        </ul>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m">
     Edit provider
</h2>


<ul class="govuk-list">
  <ul class="govuk-list">
    <li>

        <a class="govuk-link" href="search-provider" aria-describedby="search-provider">
      Edit or delete (deactivate) existing provider
      </a>

  </li>
</ul>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m">
     Validate the code
</h2>


<ul class="govuk-list">
  <ul class="govuk-list">
    <li>

        <a class="govuk-link" href="validate-code" aria-describedby="validate-code">
      Check the code from provider (placeholder text)
      </a>

  </li>
</ul>




    </div>
  </div>

{% endblock %}
