{% extends "layout.html" %}

{% block pageTitle %}
  Workplace Health Assessment Discount Scheme 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Workplace Health Assessment Discount Scheme 
    </h1>
</div>
<div class="govuk-grid-column-full">

<p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>

<ul class="govuk-list govuk-list_list-item--dashed">
  <li>
  —  <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="scheme-overview ">Scheme overview </a>
  </li>
  <li>
    —    <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="cost">Costs and pricing </a>
  </li>
  <li>
    —    <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="how-it-works">How the scheme works </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="how-to-become">How to become a listed health provider in the scheme</a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="eligibility">Eligibility </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="what-and-where">What you need to send and where to send it  </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="accepted">If you are accepted to join the scheme   </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="payment">Payment process  </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="help">Help and support  </a>
  </li>
</ul>


</div>
<div class="govuk-grid-column-two-thirds">
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


  <h1 class="govuk-heading-m">Eligibility    </h1>
<p>There are different eligibility requirements, depending on whether your organisation is SEQOHS (Safe, Effective Quality Occupational Health Service) accredited or not. 
</p>
 

<p>In general, to be accepted, we will need to be satisfied that you:  </p>
<ul class="govuk-list govuk-list--bullet">
<li>have the required professional industry qualifications and governance procedures and policies    </li>
<li>can deliver a quality, professional assessment  </li>

</ul>

<h1 class="govuk-heading-m">Evidence and declarations required      </h1>

<h2 class="govuk-heading-s">For all organisations   </h2>

<p>Any occupational health and vocational rehabilitation providers wanting to join the scheme will need to send us:
</p>
<ul class="govuk-list govuk-list--bullet">

<li>declarations about the service they provide </li>

<li>an example of a template or redacted report </li>
</ul>

<p>The declarations are that: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>
there will be a conversation or interaction with the employer before the assessment to understand the context of their business 
</li><li>
they will have a conversation with the employee during the assessment to discuss what will be included in the report and/or the employee will be given the option to see the report prior to sending it to their employer  
</li><li>
the person undertaking assessments is, or has oversight from:  
</li>
<ul class="govuk-list govuk-list--bullet">
<li>an occupational health physician   </li>

<li>an occupational health nurse</li>

<li>an occupational therapist with experience in workplace settings, 		vocational rehabilitation or return to work  
</li>
<li>a physiotherapist with experience in workplace settings, vocational 	rehabilitation, or return to work  
</li>
<li>a psychologist with experience in workplace settings, vocational rehabilitation, or return to work  
</li>
</ul>
<li>
the maximum cost for an assessment through this service will be £400   
</li>
 </ul>

<p>The example of a template or redacted report must show:  </p>

 <ul class="govuk-list govuk-list--bullet">
<li>
a remote or in-person assessment of an employee   </li>
<li>
the writing of a comprehensive report, to include:   </li>
<ul class="govuk-list govuk-list--bullet">
  <li>
the answering of any employer or management concerns   </li>
<li>
the employee’s capacity for employment   </li>
<li>
advice on the current functional ability of employee   </li>
<li>
objective and impartial advice   </li>
<li>
onward referrals (if required)   </li>
<li>
an opportunity for follow-up discussion   </li>
<li>
a biopsychosocial approach   </li>
</ul>
</ul>

<h2 class="govuk-heading-s">If your organisation is SEQOHS accredited   </h2>

<p>You will need to tell us your organisation name that is registered with SEQOHS.  </p>

<h2 class="govuk-heading-s">If your organisation is not SEQOHS accredited   </h2>

<p>You will need to send us evidence that you meet our standards concerning: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>
clinical governance procedures    </li>

  <li>complaints procedures and feedback mechanisms    </li>

  <li>data management policies    </li>

  <li>referral pathways    </li>
  </ul>
<p>PLACEHOLDER</p>


<p>Next</p>

<p><a href="what-and-where"> What you need to send and where to send it   </a></p>


      <p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>



    </div>




      </div>




  </div>
{% endblock %}
