{% extends "layout.html" %}

{% block pageTitle %}
  Workplace Health Assessment Discount Scheme 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Workplace Health Assessment Discount Scheme 
    </h1>
</div>
<div class="govuk-grid-column-full">

<p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>

<ul class="govuk-list govuk-list_list-item--dashed">
  <li>
  —  <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="scheme-overview ">Scheme overview </a>
  </li>
  <li>
    —    <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="cost">Costs and pricing </a>
  </li>
  <li>
    —    <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="how-it-works">How the scheme works </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="how-to-become">How to become a listed health provider in the scheme</a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="eligibility">Eligibility </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="what-and-where">What you need to send and where to send it  </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="accepted">If you are accepted to join the scheme   </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="payment">Payment process  </a>
  </li>
  <li>
  —      <a class="govuk-link govuk-body-s govuk-!-margin-left-1" href="help">Help and support  </a>
  </li>
</ul>


</div>
<div class="govuk-grid-column-two-thirds">
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


  <h1 class="govuk-heading-m">Help   </h1>
<p>placeholder</p>



<p>Next</p>

<p><a href="how-it-works">How the scheme works </a></p>


      <p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>



    </div>




      </div>




  </div>
{% endblock %}
