{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
  var $element = $('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
  stepByStepNavigation.start($element)
</script>
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Get expert health support at work for a disabled employee or an employee with a health condition
      </h1>
<p>Use this service to find subsidised workplace health services. These are often referred to as occupational health services.</p>
      <p>If an employee's condition is affecting them at work, use this service to find experts who can:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>help you identify what support an employee needs in relation to a specific concern</li>
        <li>give you advice on supporting an employee back to work if they have become ill</li>

      </ul>

<h2 class="govuk-heading-m">Who can use this service </h2>
<p>You can use this service if:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>you are a micro, small or medium business based in England or Wales</li>
  <li>your yearly turnover is less than X</li>

</ul>

<p>Eligible businesses will get an 80% discount when buying qualifying occupational health services.</p>

<h3 class="govuk-heading-m">Before you start </h3>
<p>You will need:</p>
<ul class="govuk-list govuk-list--bullet">
  <li> your business PAYE number</li>
  <li> your number of employees</li>
  <li> your turnover for the tax year x</li>
  </ul>



      <a href="page-1" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h4 class="govuk-heading-m">If you need general advice</h4>

      <p>There's different guidance if you need general information. </p>

      <p>Get advice on  <a href="#"> how to support and manage disabled employees and employees with health conditions</a>, including:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>having conversations with your employees, in or out of work</li>
        <li>understanding any legal requirements</li>
        <li>managing absence</li>

      </ul>


      <p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>



    </div>

    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Related content</span>
          <a href="#">
            Support and manage disabled employees and employees with health conditions
          </a>
        </h2>
      </div>




            </div>


      </div>




  </div>
{% endblock %}
