
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Phoenix service WIP
</h1>


<h2 class="govuk-heading-m">
  Employer
</h2>
<p>
<a href="/phoenix/employer/v1/start-page" class="govuk-link govuk-link--no-visited-state">Version 1 </a>
</p>


<p>
<a href="/phoenix/employer/v2/start-page" class="govuk-link govuk-link--no-visited-state">Version 2 </a>
</p>

<p>
<a href="/phoenix/employer/v3/start-page" class="govuk-link govuk-link--no-visited-state">Version 3 </a>
</p>

<p>
<a href="/phoenix/employer/v4/start-page" class="govuk-link govuk-link--no-visited-state">Version 4 </a>
</p>

<p>
<a href="/phoenix/employer/v5/start-page" class="govuk-link govuk-link--no-visited-state">Version 5 (Sprint 10) </a>
</p>

<p>
<a href="/phoenix/employer/v6/start-page" class="govuk-link govuk-link--no-visited-state">Version 6 (Sprint 11 - full journey)</a>
</p>

<p>
<a href="/phoenix/employer/v7/start-page" class="govuk-link govuk-link--no-visited-state">Version 7 (Sprint 12 - full journey)</a>
</p>

<p>
<a href="/phoenix/employer/v8/start-page" class="govuk-link govuk-link--no-visited-state">Version 8 (Sprint 13 - full journey)</a>
</p>

<p>
<a href="/phoenix/employer/v9/start-page" class="govuk-link govuk-link--no-visited-state">Version 9 (Sprint 14 - full journey)/(current)</a>
</p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m">
  Employer (Providers list)
</h2>
<p>
<a href="/phoenix/employer/register/v1/page-1" class="govuk-link govuk-link--no-visited-state">Version 1 </a>
</p>

<p>
<a href="/phoenix/employer/register/v2/page-1" class="govuk-link govuk-link--no-visited-state">Version 2 </a>
</p>

<p>
<a href="/phoenix/employer/register/v3/page-1" class="govuk-link govuk-link--no-visited-state">Version 3 (S11) </a>
</p>

<p>
<a href="/phoenix/employer/register/v4/page-1" class="govuk-link govuk-link--no-visited-state">Version 4 (S12) </a>
</p>

<p>
<a href="/phoenix/employer/register/v5/page-1" class="govuk-link govuk-link--no-visited-state">Version 5 (S13) </a>
</p>

<p>
<a href="/phoenix/employer/register/v6/page-1" class="govuk-link govuk-link--no-visited-state">Version 6 (S14 - current) </a>
</p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<h2 class="govuk-heading-m">
  Employee
</h2>
<p>
<a href="/phoenix/employee/v1/guide-page" class="govuk-link govuk-link--no-visited-state">Version 1 </a>
</p>
<p>
<a href="/phoenix/employee/v2/guide-page" class="govuk-link govuk-link--no-visited-state">Version 2 </a>
</p>

<p>
<a href="/phoenix/employee/v3/guide-page" class="govuk-link govuk-link--no-visited-state">Version 3 (current) </a>
</p>



<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m">
  Provider
</h2>
<p>
<a href="/phoenix/provider/v1/page-1" class="govuk-link govuk-link--no-visited-state">Version 1 (not in use anymore)</a>
</p>

<p>
<a href="/phoenix/provider/register-questions/page-1" class="govuk-link govuk-link--no-visited-state">Register questions</a>
</p>

<p>
<a href="/phoenix/provider/code-checker/v1/page-1" class="govuk-link govuk-link--no-visited-state">Code checker Version 1</a>
</p>
<p>
<a href="/phoenix/provider/code-checker/v2/page-1" class="govuk-link govuk-link--no-visited-state">Code checker Version 2 (Sprint 11)</a>
</p>

<p>
<a href="/phoenix/provider/code-checker/v3/page-1" class="govuk-link govuk-link--no-visited-state">Code checker Version 3 (Sprint 12) - current</a>
</p>

<p>
<a href="/phoenix/provider/service-content/scheme-overview" class="govuk-link govuk-link--no-visited-state">Service (flat) content Version 1 (S12 - current version)</a>
</p>



<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m">
  Testing
</h2>
<p>
<a href="/phoenix/employer/testing/v1/p1/start-page" class="govuk-link govuk-link--no-visited-state">P1 (W1C)</a>
</p>
<p>
<a href="/phoenix/employer/testing/v1/p2/start-page" class="govuk-link govuk-link--no-visited-state">P2 (EC1V)</a>
</p>
<p>
<a href="/phoenix/employer/testing/v1/p3/start-page" class="govuk-link govuk-link--no-visited-state">P3 (NE33)</a>
</p>
<p>
<a href="/phoenix/employer/testing/v1/p4/start-page" class="govuk-link govuk-link--no-visited-state">P4 (YO17)</a>
</p>
<p>
<a href="/phoenix/employer/testing/v1/p5/start-page" class="govuk-link govuk-link--no-visited-state">P5 (TA18)</a>
</p>
<p>
<a href="/phoenix/employer/testing/v1/p6/start-page" class="govuk-link govuk-link--no-visited-state">P6 (SE1)</a>
</p>
    </div>
  </div>

{% endblock %}
