
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Phoenix service WIP
</h1>


<h2 class="govuk-heading-m">
  Employer
</h2>
<p>
<a href="/phoenix/employer/v1/start-page" class="govuk-link govuk-link--no-visited-state">Version 1 </a>
</p>


<p>
<a href="/phoenix/employer/v2/start-page" class="govuk-link govuk-link--no-visited-state">Version 2 </a>
</p>

<p>
<a href="/phoenix/employer/v3/start-page" class="govuk-link govuk-link--no-visited-state">Version 3 </a>
</p>

<p>
<a href="/phoenix/employer/v4/start-page" class="govuk-link govuk-link--no-visited-state">Version 4 </a>
</p>

<p>
<a href="/phoenix/employer/v5/start-page" class="govuk-link govuk-link--no-visited-state">Version 5 (Sprint 10) </a>
</p>

<p>
<a href="/phoenix/employer/v6/start-page" class="govuk-link govuk-link--no-visited-state">Version 6 (Sprint 11 - full journey)</a>
</p>

<p>
<a href="/phoenix/employer/v7/start-page" class="govuk-link govuk-link--no-visited-state">Version 7 (Sprint 12 - full journey)/(current)</a>
</p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m">
  Employer Register
</h2>
<p>
<a href="/phoenix/employer/register/v1/page-1" class="govuk-link govuk-link--no-visited-state">Version 1 </a>
</p>

<p>
<a href="/phoenix/employer/register/v2/page-1" class="govuk-link govuk-link--no-visited-state">Version 2 </a>
</p>

<p>
<a href="/phoenix/employer/register/v3/page-1" class="govuk-link govuk-link--no-visited-state">Version 3 (current) </a>
</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m">
  Provider
</h2>
<p>
<a href="/phoenix/provider/v1/page-1" class="govuk-link govuk-link--no-visited-state">Version 1 (current)</a>
</p>

<p>
<a href="/phoenix/provider/register-questions/page-1" class="govuk-link govuk-link--no-visited-state">Register questions</a>
</p>

<p>
<a href="/phoenix/provider/code-checker/v1/page-1" class="govuk-link govuk-link--no-visited-state">Code checker Version 1</a>
</p>
<p>
<a href="/phoenix/provider/code-checker/v2/page-1" class="govuk-link govuk-link--no-visited-state">Code checker Version 2 (Sprint 11) - current</a>
</p>
    </div>
  </div>

{% endblock %}
