{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Login as:
                  </h1>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="login1" name="login" type="radio" value="teamleader">
                    <label class="govuk-label govuk-radios__label" for="login1">
                      Team Leader
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="login2" name="login" type="radio" value="agent">
                    <label class="govuk-label govuk-radios__label" for="login2">
                      Agent
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="login3" name="login" type="radio" value="manager">
                    <label class="govuk-label govuk-radios__label" for="login3">
                      Manager
                    </label>
                  </div>

                </div>

              </fieldset>
            </div>


          </div>
        </div>






    </div>


  </div>
{% endblock %}
